/* You can add global styles to this file, and also import other style files */


@import 'ag-grid/dist/styles/ag-grid.css';
@import 'ag-grid/dist/styles/ag-theme-balham.css';


/* .ag-row-hover {

    background-color: #F8F8F8;
}

.ag-column-hover {
    background-color : #F8F8F8;
} */

/* .ag-cell{
    border: 1px solid grey;
} */